<div layout="column" layout-align="center center">

  <md-card style="width: 800px;">
    <md-card-content>
      <video id="videoDash" video-dash is="video-dash" preload controls poster="stream/source/poster.png"
             tracks="tracks" sources="sources" track="track" source="source" style="width: 100%;">
        <!--
        <source
          src="http://dash.edgesuite.net/digitalprimates/fraunhofer/480p_video/heaac_5_1_with_video/Sintel/sintel_480p_heaac5_1.mpd"
          type='application/dash+xml'>
        <source src="stream/dash/sintel.mpd" type='application/dash+xml'>
        <source src="stream/source/sintel-1080.webm" type="video/webm;codecs=vp8,vorbis"/>
        <source src="stream/source/sintel-720.webm" type="video/webm;codecs=vp8,vorbis"/>
        <source src="stream/source/sintel-640.webm" type="video/webm;codecs=vp8,vorbis"/>
        <source src="stream/source/sintel-320.webm" type="video/webm;codecs=vp8,vorbis"/>-->
        <source src="stream/source/sintel-1080.mp4" type='video/mp4;codecs="avc1.42E01E,mp4a.40.2"'>
        <source src="stream/source/sintel-720.mp4" type='video/mp4;codecs="avc1.42E01E,mp4a.40.2"'>
        <source src="stream/source/sintel-640.mp4" type='video/mp4;codecs="avc1.42E01E,mp4a.40.2"'>
        <source src="stream/source/sintel-320.mp4" type='video/mp4;codecs="avc1.42E01E,mp4a.40.2"'>
        <track src="stream/track/sintel_en.vtt" label="English subtitles" kind="subtitles" srclang="en">
        <track src="stream/track/sintel_it.vtt" label="Italian subtitles" kind="subtitles" srclang="it">
        <track src="stream/track/sintel_de.vtt" label="German subtitles" kind="subtitles" srclang="de">
        <track src="stream/track/sintel_es.vtt" label="Spanish subtitles" kind="subtitles" srclang="es">
        <track src="stream/track/sintel_fr.vtt" label="French subtitles" kind="subtitles" srclang="fr">
        <track src="stream/track/sintel_pt.vtt" label="Portuguese subtitles" kind="subtitles" srclang="pt">
        <track src="stream/track/sintel_copyright.vtt" label="Copyright information" kind="metadata" srclang="en" default>
      </video>
    </md-card-content>
  </md-card>

  <md-card style="width: 800px;">
    <md-card-content layout="row" layout-align="top center">
        <!-- Video tracks -->
        <md-input-container style="width: 380px;" layout-padding>
          <md-select placeholder="Track" ng-model="track">
            <md-select-label>{{ track >= 0 ? tracks.item(track).label : 'Video track' }}</md-select-label>
            <md-option ng-value="$index" ng-repeat="t in tracks">{{ t.label || 'Track number ' + $index }}</md-option>
          </md-select>
          <md-button ng-click="track = -1" ng-disabled="track === -1">
            <md-tooltip>
              Disable the captions on the video
            </md-tooltip>
            Disable
          </md-button>
        </md-input-container>

        <!-- Video sources -->
        <md-input-container style="width: 380px;" layout-padding>
          <md-select placeholder="Source" ng-model="source">
            <md-select-label>{{ source >= 0 ? sources[source].src : 'Video source' }}</md-select-label>
            <md-option ng-value="$index" ng-repeat="s in sources">{{ s.src || 'Source number ' + $index }}</md-option>
          </md-select>
        </md-input-container>
    </md-card-content>
  </md-card>

</div>
